body{
  background: rgba(196, 243, 196, 0.32);
}

/* Navbar */
.iconsearch{
  color: #000000;
}

.solid{
  background-color: #c4f3c4 !important;
}
/* End Navbar */

/* All Tab */
.tabriwayat{
  margin-top: 100px;
}

.tabriwayat .tabs .tab{
  text-transform: capitalize !important;
}

.tabriwayat .tabs .indicator{
  background-color: rgba(145, 209, 144, 0.805827);
}

.tabriwayat .tabs .tab a:focus.active{
  background-color: #e1f2e6;
}

.tabriwayat .tabs li a{
  font-family: 'Saira' !important;
  color: #000000 !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
/* End All Tab */

.carousel{
  height: 450px !important;
  background-color: #ffffff;
  overflow-y: hidden;
}

/* Stock Kosong */
.stockkosong{
  margin-top: 10px;
  height: 450px !important;
  background-color: #ffffff;
  text-align: center;
}

.stockisi{
  margin-top: 10px;
  height: 450px;
  background-color: #ffffff;
}

.stockisi .stockisi2{
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.stockisi .stockisi2 .row .col{
  margin-top: 20px;
}

.stockisi .stockisi2 .row .col p{
  font-family: 'Mukta Vaani';
  font-size: 20px;

  color: #123812;
}

.stockisi .stockisi2 .row .texting p{
  margin-top: 0 !important;
  text-align: center !important;
}

.stockisi .row .col img{
  border-radius: 10px;
}

.stockkosong .col.s12{
  width: 912.8px;
}

.stockkosong .centerdiv{
  display: inline-block !important;
}

.stockkosong .centerdiv p{
  font-family: 'Saira';
  font-size: 24px;
  text-transform: capitalize;

  color: #000000;
}
/* End Stock Kosong */
