.sales .lihatsemua{
  font-family: 'Mukta Vaani';
  text-align: right;
  text-indent: 2px;
  color: #123812;
}

.sales .card .card-image img{
  height: 200px;
}

.sales .card .card-content h5{
  font-family: 'Saira';
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #011F00;

  font-size: 20px;
}

.sales .card .card-content p{
  font-family: 'Saira';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #123812;
}

.sales .card .card-content .btnn{
  background: #eeeeee;
  border-radius: 50px;
  overflow: hidden;
  transition: 1s all ease;
}

.sales .card .card-content .btnn::before{
  background: #4caf50;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.sales .card .card-content .btnn:hover{
  background: #4caf50;
  color: #ffffff;
}

@media only screen and (min-width: 1200px){
  .sales .lihatsemua{
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px){
  .sales .lihatsemua{
    font-size: 24px;
    white-space: nowrap;
  }
}
