/* 3founder */
.founder .founder1 .bg{
  background: rgb(194,250,194);
  background: linear-gradient(45deg, rgba(194,250,194,0.82) 50%, rgba(0,0,0,0) 50%);
}

.founder .founder1 .bg img.founder1{
  max-width: 337px;
  height: 450px;

  margin-top: 100px;
  margin-left: 180px;
  margin-bottom: 101px;
}

.founder .founder1 .bg2 .a{
  margin-top: 100px;
}

.founder .founder1 .bg2 .b{
  background: rgba(215, 240, 214, 0.805827);
  z-index: -10;
  position: relative;

  margin-left: -150px;
}

.founder .founder1 .bg2 .a p,
.founder .founder1 .bg2 .b p,
.founder .founder2 .bg .a p,
.founder .founder2 .bg .b p{
  font-family: 'Mukta Vaani';
  font-size: 22px;

  margin-top: 0;
  margin-bottom: 0;
}

.founder .founder1 .bg2 .a p{
  text-align: right;
}

.founder .founder1 .bg2 .b p{
  text-align: justify;

  padding-top: 100px;
  padding-bottom: 65px;
  padding-left: 30%;
}

.founder .founder2 .xl8.bg2{
  background: rgb(194,250,194);
  background: linear-gradient(315deg, rgba(194,250,194,0.82) 50%, rgba(0,0,0,0) 50%);
}

.founder .founder2 .bg2 img.founder2{
  max-width: 337px;
  height: 450px;
  object-fit: cover;
  float: right;

  margin-top: 100px;
  margin-right: 180px;
  margin-bottom: 101px;
}

.founder .founder2 .bg .a{
  margin-top: 100px;
}

.founder .founder2 .bg .b{
  background: rgba(215, 240, 214, 0.805827);
  z-index: -10;
  position: relative;

  margin-right: -150px;
}

.founder .founder2 .bg .b p{
  text-align: justify;

  padding-top: 100px;
  padding-bottom: 65px;
  padding-right: 30%;
}

@media only screen and (max-width: 1200px){
  .founder .founder1 .bg img.founder1{
    max-width: 270px;
    height: 360px;

    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 101px;
  }

  .founder .founder2 .bg2 img.founder2{
    max-width: 270px;
    height: 360px;
    object-fit: cover;
    float: right;

    margin-top: 100px;
    margin-right: 120px;
    margin-bottom: 101px;
  }
}

@media only screen and (max-width: 992px){
  .founder .founder1 .bg img.founder1,
  .founder .founder2 .bg2 img.founder2{
    max-width: 240px;
    height: 320px;
    margin-top: 100px;
    margin-bottom: 101px;

    object-fit: cover;
  }

  .founder .founder1 .bg img.founder1{
    margin-left: 70px;
  }

  .founder .founder2 .bg2 img.founder2{
    float: right;
    margin-right: 70px;
  }

  .founder .founder1 .bg2 .a p,
  .founder .founder1 .bg2 .b p,
  .founder .founder2 .bg .a p,
  .founder .founder2 .bg .b p{
    font-family: 'Mukta Vaani';
    font-size: 18px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .founder .founder1 .bg2 .b p,
  .founder .founder2 .bg .b p{
    padding-top: 60px;
    padding-bottom: 65px;
  }

  .founder .founder1 .bg2 .b p{
    padding-left: 35%;
  }
}

@media only screen and (max-width: 600px){
  .founder .founder1 .bg img.founder1,
  .founder .founder2 .bg2 img.founder2{
    max-width: 200px;
    height: 266px;
    margin-top: 0;
    margin-bottom: 0;

    object-fit: cover;
  }

  .founder .founder1 .bg img.founder1{
    margin-left: 0;
  }

  .founder .founder2 .bg2 img.founder2{
    float: right;
    margin-right: 70px;
  }

  .founder .founder1 .bg2 .a p,
  .founder .founder1 .bg2 .b p,
  .founder .founder2 .bg .a p,
  .founder .founder2 .bg .b p{
    font-family: 'Mukta Vaani';
    font-size: 18px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .founder .founder1 .bg2 .b p,
  .founder .founder2 .bg .b p{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .founder .founder1 .bg2 .a,
  .founder .founder2 .bg .a{
    margin-top: 0;
  }

  .founder .founder2 .bg .b{
    margin-right: 0;
  }

  .founder .founder1 .bg2 .b{
    margin-left: 0;
  }
}
/* end 3founder */
